#!/bin/bash

# Guide:
#
# 1. Copy this file to .env
#
#    cp .env-sample .env
#
# 2. Fill the blanks

export NODE_ENV=development
export LOG_ENCRYPT_KEY=0123456789abcdef

# To customize https://github.com/kimmobrunfeldt/spawn-default-shell
# Needed in tests
export SHELL_EXECUTE_FLAGS=-c

echo "Environment variables set!"
